<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>

  </appSettings>
  <system.serviceModel>
    <services>
      <service name="GalaxyMerge.Services.GalaxyManager">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*:8010" />
          </baseAddresses>
        </host>
        <endpoint address="GalaxyService"
                  binding="netTcpBinding"
                  contract="GalaxyMerge.Contracts.IGalaxyService" />
      </service>
      <service name="GalaxyMerge.Services.ArchiveManager">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*:8010" />
          </baseAddresses>
        </host>
        <endpoint address="ArchiveService"
                  binding="netTcpBinding"
                  contract="GalaxyMerge.Contracts.IArchiveService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>